In [1]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format
df = pd.read_excel('investimentos_ibge_v2.xlsx')
df.columns

Index(['Ano', 'Ano-Prog-Acao', 'ID_ACAO_PT', 'ID_PROGRAMA_PT', 'Link Convenio',
       'Modalidade de AplIçáção', 'Município', 'Município, Pais',
       'Núm. Transf', 'Obra', 'Órgão', 'Sigla Órgão', 'Situação', 'UF',
       'Valor total pago/transFérido', 'Sigla UO', 'Unid. orçamentária',
       'Ação', 'Tipo', 'COD IBGE', 'Eixo de Atuação'],
      dtype='object')

In [2]:
# Que tem municipio
municipio = df.loc[df['COD IBGE'].dropna().index]
municipio = municipio.groupby(['Ano', 'COD IBGE', 'UF', 'Tipo', 'Eixo de Atuação'])['Valor total pago/transFérido'].agg('sum')
municipio = municipio.reset_index()
municipio

,Ano,COD IBGE,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido
0,2012,1100205.00,RO,Estrutural,Prevenção,0.00
1,2012,1100304.00,RO,Estrutural,Prevenção,3990633.19
2,2012,1502202.00,PR,Estrutural,Prevenção,0.00
3,2012,1502939.00,PA,Estrutural,Resposta e Recuperação,1203959.10
4,2012,1720804.00,TO,Estrutural,Prevenção,0.00
...,...,...,...,...,...,...
5627,2024,4322400.00,RS,Não estrutural,Resposta e Recuperação,198200.00
5628,2024,4322608.00,RS,Não estrutural,Resposta e Recuperação,453254.27
5629,2024,5107883.00,MT,Estrutural,Resposta e Recuperação,922289.35
5630,2024,5212501.00,GO,Não estrutural,Resposta e Recuperação,565618.13
5631,2024,5220405.00,GO,Não estrutural,Resposta e Recuperação,215190.00

In [3]:
municipio.loc[municipio['COD IBGE'] == 1100296]

,Ano,COD IBGE,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido
296,2013,1100296.00,RO,Estrutural,Resposta e Recuperação,0.00
525,2014,1100296.00,RO,Estrutural,Resposta e Recuperação,379087.34
1429,2017,1100296.00,RO,Estrutural,Resposta e Recuperação,343044.22

In [4]:
# Que tem so estado e nao tem municipio
estado = df.loc[df['COD IBGE'].isna() & (df['UF'].isna() == False)]
#print((estado.loc[estado.UF == 'RJ']) AND (estado.Ano == 2014))
estado = estado.groupby(['Ano', 'UF', 'Tipo', 'Eixo de Atuação'])['Valor total pago/transFérido'].agg('sum')
estado = estado.reset_index()
estado.loc[estado['UF'] == 'RO']

,Ano,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido
134,2014,RO,Não estrutural,Resposta e Recuperação,16022243.63
169,2015,RO,Não estrutural,Resposta e Recuperação,237710.00
210,2016,RO,Não estrutural,Resposta e Recuperação,2273550.39
244,2017,RO,Não estrutural,Resposta e Recuperação,3547902.76
276,2018,RO,Não estrutural,Resposta e Recuperação,1144841.36
302,2019,RO,Não estrutural,Resposta e Recuperação,1661225.23

In [5]:
aux_data = pd.read_excel('C:/Users/xx-re/Downloads/Separação Investimentos.xlsx', sheet_name='Planilha1')
aux_data = aux_data[['Cod IBGE', 'UF', 'Município', 'prop']]
aux_data.loc[:,'COD UF'] = aux_data['Cod IBGE'].astype('str').str.slice(0,2)
aux_data

      Cod IBGE  UF            Município  prop COD UF
0      5200050  GO      Abadia de Goiás  0.01     52
1      3100104  MG  Abadia dos Dourados  0.00     31
2      5200100  GO            Abadiânia  0.01     52
3      3100203  MG               Abaeté  0.01     31
4      1500107  PA           Abaetetuba  0.10     15
...        ...  ..                  ...   ...    ...
5565   2933604  BA          Xique-Xique  0.01     29
5566   2517407  PB               Zabelê  0.00     25
5567   3557154  SP             Zacarias  0.00     35
5568   2114007  MA              Zé Doca  0.01     21
5569   4219853  SC               Zortéa  1.00     42

[5570 rows x 5 columns]

In [6]:
aux_data.loc[aux_data['Cod IBGE'] == 1100296]

      Cod IBGE  UF            Município  prop COD UF
4425   1100296  RO  Santa Luzia D'Oeste  0.00     11

In [7]:
#Primeiro calculamos o total estadual
estado = estado.groupby(['Ano', 'UF', 'Tipo', 'Eixo de Atuação'])['Valor total pago/transFérido'].agg('sum')
#pd.merge(estado, aux_data, left_on='UF', right_on='UF')
estado = estado.reset_index()

In [8]:
estado = pd.merge(estado, aux_data, left_on='UF', right_on='UF')
estado['valor_investimento'] = estado['Valor total pago/transFérido']*estado['prop']
estado.loc[estado['Cod IBGE']==1100296]

,Ano,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido,Cod IBGE,Município,prop,COD UF,valor_investimento
100551,2014,RO,Não estrutural,Resposta e Recuperação,16022243.63,1100296,Santa Luzia D'Oeste,0.00,11,14185.05
100603,2015,RO,Não estrutural,Resposta e Recuperação,237710.00,1100296,Santa Luzia D'Oeste,0.00,11,210.45
100655,2016,RO,Não estrutural,Resposta e Recuperação,2273550.39,1100296,Santa Luzia D'Oeste,0.00,11,2012.85
100707,2017,RO,Não estrutural,Resposta e Recuperação,3547902.76,1100296,Santa Luzia D'Oeste,0.00,11,3141.08
100759,2018,RO,Não estrutural,Resposta e Recuperação,1144841.36,1100296,Santa Luzia D'Oeste,0.00,11,1013.57
100811,2019,RO,Não estrutural,Resposta e Recuperação,1661225.23,1100296,Santa Luzia D'Oeste,0.00,11,1470.74

In [9]:
estado

,Ano,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido,Cod IBGE,Município,prop,COD UF,valor_investimento
0,2012,AC,Estrutural,Resposta e Recuperação,3000000.00,1200013,Acrelândia,0.01,12,27157.20
1,2012,AC,Estrutural,Resposta e Recuperação,3000000.00,1200054,Assis Brasil,0.00,12,14362.47
2,2012,AC,Estrutural,Resposta e Recuperação,3000000.00,1200104,Brasiléia,0.01,12,22262.46
3,2012,AC,Estrutural,Resposta e Recuperação,3000000.00,1200138,Bujari,0.00,12,11060.16
4,2012,AC,Estrutural,Resposta e Recuperação,3000000.00,1200179,Capixaba,0.00,12,9712.23
...,...,...,...,...,...,...,...,...,...,...
101372,2022,GO,Não estrutural,Resposta e Recuperação,4993052.96,5221908,Varjão,0.00,52,2616.14
101373,2022,GO,Não estrutural,Resposta e Recuperação,4993052.96,5222005,Vianópolis,0.00,52,10529.33
101374,2022,GO,Não estrutural,Resposta e Recuperação,4993052.96,5222054,Vicentinópolis,0.00,52,6172.85
101375,2022,GO,Não estrutural,Resposta e Recuperação,4993052.96,5222203,Vila Boa,0.00,52,2967.45
101376,2022,GO,Não estrutural,Resposta e Recuperação,4993052.96,5222302,Vila Propício,0.00,52,4093.88

In [10]:
estado = estado.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação'])['valor_investimento'].agg('sum').reset_index()
estado

,Ano,Cod IBGE,Tipo,Eixo de Atuação,valor_investimento
0,2012,1200013,Estrutural,Resposta e Recuperação,27157.20
1,2012,1200013,Não estrutural,Resposta e Recuperação,154725.56
2,2012,1200054,Estrutural,Resposta e Recuperação,14362.47
3,2012,1200054,Não estrutural,Resposta e Recuperação,81828.78
4,2012,1200104,Estrutural,Resposta e Recuperação,22262.46
...,...,...,...,...,...
101372,2024,4323606,Não estrutural,Resposta e Recuperação,0.00
101373,2024,4323705,Não estrutural,Resposta e Recuperação,0.00
101374,2024,4323754,Não estrutural,Resposta e Recuperação,0.00
101375,2024,4323770,Não estrutural,Resposta e Recuperação,0.00
101376,2024,4323804,Não estrutural,Resposta e Recuperação,0.00

In [11]:
municipio.loc[municipio.duplicated(subset=['Ano', 'COD IBGE', 'Tipo', 'Eixo de Atuação'])]

Empty DataFrame
Columns: [Ano, COD IBGE, UF, Tipo, Eixo de Atuação, Valor total pago/transFérido]
Index: []

In [12]:
municipio.loc[municipio['COD IBGE'] == 2110005.0]

,Ano,COD IBGE,UF,Tipo,Eixo de Atuação,Valor total pago/transFérido
4665,2023,2110005.00,MA,Não estrutural,Resposta e Recuperação,365243.40

In [13]:
estado.loc[estado['Cod IBGE'] == 3303906]

,Ano,Cod IBGE,Tipo,Eixo de Atuação,valor_investimento
7931,2012,3303906,Estrutural,Prevenção,41440.65
7932,2012,3303906,Estrutural,Resposta e Recuperação,66399.69
7933,2012,3303906,Não estrutural,Resposta e Recuperação,7459.97
19854,2013,3303906,Estrutural,Prevenção,1055647.79
19855,2013,3303906,Estrutural,Resposta e Recuperação,43750.96
19856,2013,3303906,Não estrutural,Resposta e Recuperação,60696.94
30746,2014,3303906,Estrutural,Prevenção,478617.35
30747,2014,3303906,Estrutural,Resposta e Recuperação,0.00
30748,2014,3303906,Não estrutural,Resposta e Recuperação,100863.03
39880,2015,3303906,Estrutural,Prevenção,987449.56
49135,2016,3303906,Estrutural,Outras ações,0.00
49136,2016,3303906,Estrutural,Prevenção,550281.82
49137,2016,3303906,Não estrutural,Resposta e Recuperação,11244.62
58330,2017,3303906,Estrutural,Prevenção,38643.49
66374,2018,3303906,Estrutural,Prevenção,34840.13
66375,2018,3303906,Não estrutural,Resposta e Recuperação,28159.21
73716,2019,3303906,Estrutural,Prevenção,158414.42
79228,2020,3303906,Estrutural,Prevenção,120349.37
85985,2021,3303906,Estrutural,Prevenção,582549.48
91761,2022,3303906,Estrutural,Prevenção,11931.44
96818,2023,3303906,Estrutural,Prevenção,90104.28

In [14]:
municipio = municipio.groupby(['Ano', 'COD IBGE', 'Tipo', 'Eixo de Atuação'])['Valor total pago/transFérido'].agg('sum').reset_index()

municipio.rename(columns={'COD IBGE': 'Cod IBGE', 'Valor total pago/transFérido':'valor_investimento'}, inplace=True)
municipio.shape

(5632, 5)

In [15]:
municipio.loc[municipio['Cod IBGE']==3303906]
# tendria que dar 309764.00

,Ano,Cod IBGE,Tipo,Eixo de Atuação,valor_investimento
147,2012,3303906.00,Não estrutural,Prevenção,0.00
395,2013,3303906.00,Não estrutural,Prevenção,132986.00
703,2014,3303906.00,Não estrutural,Prevenção,309764.00
4102,2022,3303906.00,Estrutural,Prevenção,0.00
4103,2022,3303906.00,Não estrutural,Resposta e Recuperação,27533369.58

In [16]:
final = pd.concat([estado, municipio])
#final.loc[final['Cod IBGE']==3303906]
final = final.groupby(['Ano', 'Cod IBGE', 'Tipo', 'Eixo de Atuação'])['valor_investimento'].agg('sum').reset_index()

In [17]:
final = final.pivot_table(index=['Ano', 'Cod IBGE', 'Eixo de Atuação'], columns='Tipo', values='valor_investimento').reset_index().fillna(0)
final.loc[final['Cod IBGE']==3303906]

Tipo    Ano   Cod IBGE         Eixo de Atuação  Estrutural  Não estrutural
6163   2012 3303906.00               Prevenção    41440.65            0.00
6164   2012 3303906.00  Resposta e Recuperação    66399.69         7459.97
16147  2013 3303906.00               Prevenção  1055647.79       132986.00
16148  2013 3303906.00  Resposta e Recuperação    43750.96        60696.94
24930  2014 3303906.00               Prevenção   478617.35       309764.00
24931  2014 3303906.00  Resposta e Recuperação        0.00       100863.03
33299  2015 3303906.00               Prevenção   987449.56            0.00
41904  2016 3303906.00           Outras ações         0.00            0.00
41905  2016 3303906.00               Prevenção   550281.82            0.00
41906  2016 3303906.00  Resposta e Recuperação        0.00        11244.62
50777  2017 3303906.00               Prevenção    38643.49            0.00
58488  2018 3303906.00               Prevenção    34840.13            0.00
58489  2018 3303906.00  Resposta e Recuperação        0.00        28159.21
65865  2019 3303906.00               Prevenção   158414.42            0.00
71526  2020 3303906.00               Prevenção   120349.37            0.00
78319  2021 3303906.00               Prevenção   582549.48            0.00
83950  2022 3303906.00               Prevenção    11931.44            0.00
83951  2022 3303906.00  Resposta e Recuperação        0.00     27533369.58
89200  2023 3303906.00               Prevenção    90104.28            0.00

In [18]:
final.to_excel('final_data_investimentos.xlsx', index=False)