In [22]:
import pandas as pd

In [23]:
g1 = pd.read_excel('IRQ\Dados_1.xlsx', sheet_name='Pop_Grupo1', nrows=1895, usecols="A:M")
g1
g2 = pd.read_excel('IRQ\Dados_1.xlsx', sheet_name='Pop_Grupo2', usecols="A:M")
g3 = pd.read_excel('IRQ\Dados_1.xlsx', sheet_name='Pop_Grupo3', usecols="A:M")
g4 = pd.read_excel('IRQ\Dados_1.xlsx', sheet_name='Pop_Grupo4', usecols="A:M")
g4

,CD_MUN,NM_MUN,Pop_2012,Pop_2013,Pop_2014,Pop_2015,Pop_2016,Pop_2017,Pop_2018,Pop_2019,Pop_2020,Pop_2021,Pop_2022
0,1100106,Guajará-Mirim,42202,45761,46203,46632,47048,47451,45783,46174,46556,46930,39386
1,1100148,Nova Brasilândia DOeste,19891,21427,21511,21592,21670,21747,20459,20474,20489,20504,15679
2,1100189,Pimenta Bueno,34135,36939,37230,37512,37786,38051,36434,36660,36881,37098,34998
3,1100254,Presidente Médici,21709,23017,22783,22557,22337,22124,19409,18986,18571,18165,4696
4,1100296,Santa Luzia DOeste,8476,8887,8706,8532,8362,8198,6781,6495,6216,5942,7419
...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,5200852,Americano do Brasil,5595,5813,5866,5918,5969,6018,6057,6111,6164,6220,5259
642,5201504,Aporé,3860,4008,4043,4077,4110,4143,4163,4198,4232,4266,4325
643,5205471,Chapadão do Céu,7488,8042,8318,8589,8853,9110,9842,10167,10486,10797,12870
644,5220504,Serranópolis,7638,7962,8055,8147,8236,8323,8445,8544,8642,8737,8027
645,5221858,Valparaíso de Goiás,138740,146694,150005,153255,156419,159500,164723,168468,172135,175720,198861

In [24]:
total_pop = pd.concat([g1,g2,g3,g4]).groupby(['CD_MUN', 'NM_MUN']).sum()

In [25]:
d1_g1 = pd.read_excel('Outputs\Erosão.xlsx', sheet_name='grupo 1')['CD_MUN']
d1_g2 = pd.read_excel('Outputs\Erosão.xlsx', sheet_name='grupo 2')['CD_MUN']
d1_g3 = pd.read_excel('Outputs\Erosão.xlsx', sheet_name='grupo 3')['CD_MUN']
d1_g4 = pd.read_excel('Outputs\Erosão.xlsx', sheet_name='grupo 4')['CD_MUN']

#d1 = pd.concat([cd_g1, cd_g2, cd_g3, cd_g4])

In [26]:
d2_g1 = pd.read_excel('Outputs\incendiosforest_secestiagem.xlsx', sheet_name='grupo 1')['CD_MUN']
d2_g2 = pd.read_excel('Outputs\incendiosforest_secestiagem.xlsx', sheet_name='grupo 2')['CD_MUN']
d2_g3 = pd.read_excel('Outputs\incendiosforest_secestiagem.xlsx', sheet_name='grupo 3')['CD_MUN']
d2_g4 = pd.read_excel('Outputs\incendiosforest_secestiagem.xlsx', sheet_name='grupo 4')['CD_MUN']

#d2 = pd.concat([cd_g1, cd_g2, cd_g3, cd_g4])

In [27]:
d3_g1 = pd.read_excel('Outputs\movimentos_de_masa.xlsx', sheet_name='grupo 1')['CD_MUN']
d3_g2 = pd.read_excel('Outputs\movimentos_de_masa.xlsx', sheet_name='grupo 2')['CD_MUN']
d3_g3 = pd.read_excel('Outputs\movimentos_de_masa.xlsx', sheet_name='grupo 3')['CD_MUN']
d3_g4 = pd.read_excel('Outputs\movimentos_de_masa.xlsx', sheet_name='grupo 4')['CD_MUN']

#d3 = pd.concat([cd_g1, cd_g2, cd_g3, cd_g4])

In [28]:
d4_g1 = pd.read_excel('Outputs\ondas_de_frio.xlsx', sheet_name='grupo 1')['CD_MUN']

d4_g3 = pd.read_excel('Outputs\ondas_de_frio.xlsx', sheet_name='grupo 3')['CD_MUN']


#d4 = pd.concat([cd_g1, cd_g3])

In [29]:
d5_g1 = pd.read_excel('Outputs\AlagEnxInTorVen.xlsx', sheet_name='grupo 1')['CD_MUN']
d5_g2 = pd.read_excel('Outputs\AlagEnxInTorVen.xlsx', sheet_name='grupo 2')['CD_MUN']
d5_g3 = pd.read_excel('Outputs\AlagEnxInTorVen.xlsx', sheet_name='grupo 3')['CD_MUN']
d5_g4 = pd.read_excel('Outputs\AlagEnxInTorVen.xlsx', sheet_name='grupo 4')['CD_MUN']

In [30]:
#d1 erosao
#d2 incendiosforest_secestiagem
#d3 movimientos de masa
#d4 ondas de frio

# Sumatorio de d1 para grupo 1
g1d1 = total_pop.loc[d1_g1].sum()
g2d1 = total_pop.loc[d1_g2].sum()
g3d1 = total_pop.loc[d1_g3].sum()
g4d1 = total_pop.loc[d1_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d1 = pd.concat([g1d1,g2d1,g3d1,g4d1], axis=1)

In [31]:
# Sumatorio de d2 para grupo 1
g1d2 = total_pop.loc[d2_g1].sum()
g2d2 = total_pop.loc[d2_g2].sum()
g3d2 = total_pop.loc[d2_g3].sum()
g4d2 = total_pop.loc[d2_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d2 = pd.concat([g1d2,g2d2,g3d2,g4d2], axis=1)

In [32]:
# Sumatorio de d3 para grupo 1
g1d3 = total_pop.loc[d3_g1].sum()
g2d3 = total_pop.loc[d3_g2].sum()
g3d3 = total_pop.loc[d3_g3].sum()
g4d3 = total_pop.loc[d3_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d3 = pd.concat([g1d3,g2d3,g3d3,g4d3], axis=1)

In [33]:
# Sumatorio de d4 para grupo 1
g1d4 = total_pop.loc[d4_g1].sum()
#g2d4 = total_pop.loc[d4_g2].sum()
g3d4 = total_pop.loc[d4_g3].sum()
#g4d4 = total_pop.loc[d4_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
pd.concat([g1d4,g3d4], axis=1)

                    0           1
Pop_2012  170553587.0  23279838.0
Pop_2013  176851134.0  24063242.0
Pop_2014  178404966.0  24242772.0
Pop_2015  179905272.0  24421570.0
Pop_2016  181370083.0  24585867.0
Pop_2017  182787953.0  24745275.0
Pop_2018  183639103.0  24729923.0
Pop_2019  185130313.0  24888996.0
Pop_2020  186573530.0  25052445.0
Pop_2021  187971953.0  25214111.0
Pop_2022  177778954.0  25237555.0

In [34]:
# Sumatorio de d5 para grupo 1
g1d5 = total_pop.loc[d5_g1].sum()
g2d5 = total_pop.loc[d5_g2].sum()
g3d5 = total_pop.loc[d5_g3].sum()
g4d5 = total_pop.loc[d5_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d5 = pd.concat([g1d5,g2d5,g3d5,g4d5], axis=1)

In [35]:
d5

                   0           1           2           3
Pop_2012  83816083.0  86848247.0  13231305.0  10051251.0
Pop_2013  86757472.0  90209163.0  13686727.0  10379352.0
Pop_2014  87565292.0  90957614.0  13802296.0  10443360.0
Pop_2015  88343762.0  91681787.0  13919122.0  10505378.0
Pop_2016  89105538.0  92387053.0  14031806.0  10557035.0
Pop_2017  89839738.0  93072900.0  14137716.0  10610575.0
Pop_2018  90390170.0  93371786.0  14176834.0  10556110.0
Pop_2019  91168029.0  94087039.0  14289005.0  10603052.0
Pop_2020  91906137.0  94794009.0  14400616.0  10654930.0
Pop_2021  92630046.0  95470342.0  14510974.0  10706277.0
Pop_2022  84652307.0  93248545.0  14348994.0  10891728.0

# investimentos

In [36]:
inv = pd.read_excel('Investimentos/final_data_investimentos (3).xlsx')

In [37]:
inv['Eixo de Atuação'].replace('Outras ações ', 'Prevenção', inplace=True)

C:\Users\xx-re\AppData\Local\Temp\ipykernel_5164\3573633093.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  inv['Eixo de Atuação'].replace('Outras ações ', 'Prevenção', inplace=True)

In [38]:
def process_data(inv, d1_g1):
    g1d1_i = inv.loc[inv['Cod IBGE'].isin(d1_g1)].melt(id_vars=['Ano', 'Cod IBGE', 'Eixo de Atuação'], value_vars=['Estrutural', 'Não estrutural'], var_name='Tipo')
    g1d1_i = pd.DataFrame(g1d1_i.groupby(['Ano', 'Eixo de Atuação', 'Tipo'])['value'].sum()).pivot_table(index=['Ano'], columns=['Eixo de Atuação', 'Tipo'])
    return g1d1_i

In [43]:
process_data(inv,d5_g1)

                        value                                        \
Eixo de Atuação     Prevenção                Resposta e Recuperação
Tipo               Estrutural Não estrutural             Estrutural
Ano
2012             2.029553e+08   0.000000e+00           4.670034e+07
2013             5.413161e+08   3.012970e+05           8.654268e+07
2014             3.468075e+08   3.265796e+05           6.470965e+07
2015             3.245647e+08   0.000000e+00           4.215854e+07
2016             2.642161e+08   0.000000e+00           4.764915e+07
2017             1.664056e+08   0.000000e+00           1.714921e+07
2018             2.456204e+08   3.181766e+05           1.307265e+07
2019             2.140465e+08   2.802762e+05           1.078677e+07
2020             3.401290e+08   0.000000e+00           1.930949e+06
2021             2.735741e+08   5.687823e+06           3.855918e+06
2022             6.734523e+07   2.355129e+07           4.094063e+05
2023             4.827237e+07   7.893477e+06           2.039523e+07
2024             4.032319e+06   0.000000e+00           0.000000e+00


Eixo de Atuação
Tipo            Não estrutural
Ano
2012              1.364887e+08
2013              1.358563e+08
2014              7.369086e+07
2015              4.371841e+07
2016              4.696882e+07
2017              7.744194e+07
2018              6.472766e+07
2019              9.158537e+07
2020              1.624337e+08
2021              9.930534e+07
2022              3.486956e+08
2023              3.462358e+08
2024              2.908818e+07

In [40]:
#d1 erosao
#d2 incendiosforest_secestiagem
#d3 movimientos de masa
#d4 ondas de frio

# Sumatorio de d1 para grupo 1
g1d1_i = process_data(inv,d1_g1)
g2d1_i = process_data(inv,d1_g2)
g3d1_i = process_data(inv,d1_g3)
g4d1_i = process_data(inv,d1_g4)

# disaster 2
g1d2_i = process_data(inv,d2_g1)
g2d2_i = process_data(inv,d2_g2)
g3d2_i = process_data(inv,d2_g3)
g4d2_i = process_data(inv,d2_g4)

# disaster 3
g1d3_i = process_data(inv,d3_g1)
g2d3_i = process_data(inv,d3_g2)
g3d3_i = process_data(inv,d3_g3)
g4d3_i = process_data(inv,d3_g4)

# disaster 4
g1d4_i = process_data(inv,d4_g1)
#g2d4_i = process_data(inv,d4_g2)
g3d4_i = process_data(inv,d4_g3)
#g4d4_i = process_data(inv,d4_g4)

# disaster 5
g1d5_i = process_data(inv,d5_g1)
g2d5_i = process_data(inv,d5_g2)
g3d5_i = process_data(inv,d5_g3)
g4d5_i = process_data(inv,d5_g4)

In [41]:
# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter('investimentos.xlsx', engine='xlsxwriter')

# Export each DataFrame to a separate sheet
g1d1_i.to_excel(writer, sheet_name='erosao_g1')
g2d1_i.to_excel(writer, sheet_name='erosao_g2')
g3d1_i.to_excel(writer, sheet_name='erosao_g3')
g4d1_i.to_excel(writer, sheet_name='erosao_g4')
# Repeat for df3 to df14

# disaster 2
g1d2_i.to_excel(writer, sheet_name='incfort_sec_g1')
g2d2_i.to_excel(writer, sheet_name='incfort_sec_g2')
g3d2_i.to_excel(writer, sheet_name='incfort_sec_g3')
g4d2_i.to_excel(writer, sheet_name='incfort_sec_g4')

# d3
g1d3_i.to_excel(writer, sheet_name='mm_g1')
g2d3_i.to_excel(writer, sheet_name='mm_g2')
g3d3_i.to_excel(writer, sheet_name='mm_g3')
g4d3_i.to_excel(writer, sheet_name='mm_g4')

# d4
g1d4_i.to_excel(writer, sheet_name='ondfr_g1')
#g2d4_i.to_excel(writer, sheet_name='ondfr_g2')
g3d4_i.to_excel(writer, sheet_name='ondfr_g3')
#g4d4_i.to_excel(writer, sheet_name='ondfr_g4')

# d5
g1d5_i.to_excel(writer, sheet_name='Ala_g1')
g2d5_i.to_excel(writer, sheet_name='Ala_g2')
g3d5_i.to_excel(writer, sheet_name='Ala_g3')
g4d5_i.to_excel(writer, sheet_name='Ala_g4')

# Save the Excel file
writer.close()