In [1]:
import pandas as pd

In [2]:
g1 = pd.read_excel('../Data/IRQ/Dados_1.xlsx', sheet_name='Pop_Grupo1', nrows=1895, usecols="A:M")
g1
g2 = pd.read_excel('../Data/IRQ/Dados_1.xlsx', sheet_name='Pop_Grupo2', usecols="A:M")
g3 = pd.read_excel('../Data/IRQ/Dados_1.xlsx', sheet_name='Pop_Grupo3', usecols="A:M")
g4 = pd.read_excel('../Data/IRQ/Dados_1.xlsx', sheet_name='Pop_Grupo4', usecols="A:M")
g4

,CD_MUN,NM_MUN,Pop_2012,Pop_2013,Pop_2014,Pop_2015,Pop_2016,Pop_2017,Pop_2018,Pop_2019,Pop_2020,Pop_2021,Pop_2022
0,1100106,Guajará-Mirim,42202,45761,46203,46632,47048,47451,45783,46174,46556,46930,39386
1,1100148,Nova Brasilândia DOeste,19891,21427,21511,21592,21670,21747,20459,20474,20489,20504,15679
2,1100189,Pimenta Bueno,34135,36939,37230,37512,37786,38051,36434,36660,36881,37098,34998
3,1100254,Presidente Médici,21709,23017,22783,22557,22337,22124,19409,18986,18571,18165,4696
4,1100296,Santa Luzia DOeste,8476,8887,8706,8532,8362,8198,6781,6495,6216,5942,7419
...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,5200852,Americano do Brasil,5595,5813,5866,5918,5969,6018,6057,6111,6164,6220,5259
642,5201504,Aporé,3860,4008,4043,4077,4110,4143,4163,4198,4232,4266,4325
643,5205471,Chapadão do Céu,7488,8042,8318,8589,8853,9110,9842,10167,10486,10797,12870
644,5220504,Serranópolis,7638,7962,8055,8147,8236,8323,8445,8544,8642,8737,8027
645,5221858,Valparaíso de Goiás,138740,146694,150005,153255,156419,159500,164723,168468,172135,175720,198861

In [3]:
total_pop = pd.concat([g1,g2,g3,g4]).groupby(['CD_MUN', 'NM_MUN']).sum()

In [4]:
d1_g1 = pd.read_excel('../Data/grupos/Erosão.xlsx', sheet_name='grupo 1')['CD_MUN']
d1_g2 = pd.read_excel('../Data/grupos/Erosão.xlsx', sheet_name='grupo 2')['CD_MUN']
d1_g3 = pd.read_excel('../Data/grupos/Erosão.xlsx', sheet_name='grupo 3')['CD_MUN']
d1_g4 = pd.read_excel('../Data/grupos/Erosão.xlsx', sheet_name='grupo 4')['CD_MUN']

#d1 = pd.concat([cd_g1, cd_g2, cd_g3, cd_g4])

In [5]:
d2_g1 = pd.read_excel('../Data/grupos/incendiosforest_secestiagem.xlsx', sheet_name='grupo 1')['CD_MUN']
d2_g2 = pd.read_excel('../Data/grupos/incendiosforest_secestiagem.xlsx', sheet_name='grupo 2')['CD_MUN']
d2_g3 = pd.read_excel('../Data/grupos/incendiosforest_secestiagem.xlsx', sheet_name='grupo 3')['CD_MUN']
d2_g4 = pd.read_excel('../Data/grupos/incendiosforest_secestiagem.xlsx', sheet_name='grupo 4')['CD_MUN']

In [6]:
d3_g1 = pd.read_excel('../Data/grupos/movimentos_de_masa.xlsx', sheet_name='grupo 1')['CD_MUN']
d3_g2 = pd.read_excel('../Data/grupos/movimentos_de_masa.xlsx', sheet_name='grupo 2')['CD_MUN']
d3_g3 = pd.read_excel('../Data/grupos/movimentos_de_masa.xlsx', sheet_name='grupo 3')['CD_MUN']
d3_g4 = pd.read_excel('../Data/grupos/movimentos_de_masa.xlsx', sheet_name='grupo 4')['CD_MUN']

In [7]:
d4_g1 = pd.read_excel('../Data/grupos/ondas_de_frio.xlsx', sheet_name='grupo 1')['CD_MUN']
#
d4_g3 = pd.read_excel('../Data/grupos/ondas_de_frio.xlsx', sheet_name='grupo 3')['CD_MUN']
#

In [8]:
d5_g1 = pd.read_excel('../Data/grupos/AlagEnxInTorVen.xlsx', sheet_name='grupo 1')['CD_MUN']
d5_g2 = pd.read_excel('../Data/grupos/AlagEnxInTorVen.xlsx', sheet_name='grupo 2')['CD_MUN']
d5_g3 = pd.read_excel('../Data/grupos/AlagEnxInTorVen.xlsx', sheet_name='grupo 3')['CD_MUN']
d5_g4 = pd.read_excel('../Data/grupos/AlagEnxInTorVen.xlsx', sheet_name='grupo 4')['CD_MUN']

In [34]:
d = {'d1': [d1_g1.nunique(), d1_g2.nunique(), d1_g3.nunique(), d1_g4.nunique()],
     'd2': [d2_g1.nunique(), d2_g2.nunique(), d2_g3.nunique(), d2_g4.nunique()],
     'd3': [d3_g1.nunique(), d3_g2.nunique(), d3_g3.nunique(), d3_g4.nunique()],
     'd4': [d4_g1.nunique(), 0, d4_g3.nunique(), 0],
     'd5': [d5_g1.nunique(), d5_g2.nunique(), d5_g3.nunique(), d5_g4.nunique()]
     }

d = pd.DataFrame(d)
d.index = ['grupo 1', 'grupo 2', 'grupo 3', 'grupo 4']
d

           d1    d2    d3    d4    d5
grupo 1  1758   169  1860  4060  1895
grupo 2  2305  3894  2203     0  2168
grupo 3  1230   340  1130  1508   863
grupo 4   279  1169   379     0   646

In [ ]:
'd5': [d5_g1.nunique(), d5_g2.nunique(), d5_g3.nunique(), d5_g4.nunique()]

In [9]:
#d1 erosao
#d2 incendiosforest_secestiagem
#d3 movimientos de masa
#d4 ondas de frio
#d5 alagamentos

# Sumatorio de d1 para grupo 1
g1d1 = total_pop.loc[d1_g1].sum()
g2d1 = total_pop.loc[d1_g2].sum()
g3d1 = total_pop.loc[d1_g3].sum()
g4d1 = total_pop.loc[d1_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d1 = pd.concat([g1d1,g2d1,g3d1,g4d1], axis=1)

In [10]:
# Sumatorio de d2 para grupo 1
g1d2 = total_pop.loc[d2_g1].sum()
g2d2 = total_pop.loc[d2_g2].sum()
g3d2 = total_pop.loc[d2_g3].sum()
g4d2 = total_pop.loc[d2_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d2 = pd.concat([g1d2,g2d2,g3d2,g4d2], axis=1)

In [11]:
# Sumatorio de d3 para grupo 1
g1d3 = total_pop.loc[d3_g1].sum()
g2d3 = total_pop.loc[d3_g2].sum()
g3d3 = total_pop.loc[d3_g3].sum()
g4d3 = total_pop.loc[d3_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d3 = pd.concat([g1d3,g2d3,g3d3,g4d3], axis=1)

In [12]:
# Sumatorio de d4 para grupo 1
g1d4 = total_pop.loc[d4_g1].sum()
#g2d4 = total_pop.loc[d4_g2].sum()
g3d4 = total_pop.loc[d4_g3].sum()
#g4d4 = total_pop.loc[d4_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
pd.concat([g1d4,g3d4], axis=1)

                    0           1
Pop_2012  170553587.0  23279838.0
Pop_2013  176851134.0  24063242.0
Pop_2014  178404966.0  24242772.0
Pop_2015  179905272.0  24421570.0
Pop_2016  181370083.0  24585867.0
Pop_2017  182787953.0  24745275.0
Pop_2018  183639103.0  24729923.0
Pop_2019  185130313.0  24888996.0
Pop_2020  186573530.0  25052445.0
Pop_2021  187971953.0  25214111.0
Pop_2022  177778954.0  25237555.0

In [13]:
# Sumatorio de d5 para grupo 1
g1d5 = total_pop.loc[d5_g1].sum()
g2d5 = total_pop.loc[d5_g2].sum()
g3d5 = total_pop.loc[d5_g3].sum()
g4d5 = total_pop.loc[d5_g4].sum()

# grupo 1, 2, 3, 4 para cada desastre erossao
d5 = pd.concat([g1d5,g2d5,g3d5,g4d5], axis=1)

In [14]:
d5

                   0           1           2           3
Pop_2012  83816083.0  86848247.0  13231305.0  10051251.0
Pop_2013  86757472.0  90209163.0  13686727.0  10379352.0
Pop_2014  87565292.0  90957614.0  13802296.0  10443360.0
Pop_2015  88343762.0  91681787.0  13919122.0  10505378.0
Pop_2016  89105538.0  92387053.0  14031806.0  10557035.0
Pop_2017  89839738.0  93072900.0  14137716.0  10610575.0
Pop_2018  90390170.0  93371786.0  14176834.0  10556110.0
Pop_2019  91168029.0  94087039.0  14289005.0  10603052.0
Pop_2020  91906137.0  94794009.0  14400616.0  10654930.0
Pop_2021  92630046.0  95470342.0  14510974.0  10706277.0
Pop_2022  84652307.0  93248545.0  14348994.0  10891728.0

# investimentos

In [15]:
inv = pd.read_excel('../Data/final_data_investimentos.xlsx')

In [16]:
#inv['Eixo de Atuação_rec'].replace('Outras ações ', 'Prevenção', inplace=True)

In [17]:
def process_data(inv, d1_g1):
    g1d1_i = inv.loc[inv['Cod IBGE'].isin(d1_g1)].melt(id_vars=['Ano', 'Cod IBGE', 'Eixo de Atuação_rec'], value_vars=['Estrutural', 'Não estrutural'], var_name='Tipo')
    g1d1_i = pd.DataFrame(g1d1_i.groupby(['Ano', 'Eixo de Atuação_rec', 'Tipo'])['value'].sum()).pivot_table(index=['Ano'], columns=['Eixo de Atuação_rec', 'Tipo'])
    return g1d1_i

In [18]:
process_data(inv,d5_g1)

                            value                                        \
Eixo de Atuação_rec     Prevenção                Resposta e Recuperação
Tipo                   Estrutural Não estrutural             Estrutural
Ano
2012                 1.846126e+08   4.297206e+06           4.958145e+07
2013                 4.568956e+08   4.151782e+07           8.660814e+07
2014                 3.237267e+08   8.383770e+07           6.702071e+07
2015                 2.597838e+08   3.566514e+07           4.840290e+07
2016                 2.188411e+08   1.269088e+07           5.073953e+07
2017                 1.685809e+08   1.549589e+07           1.792588e+07
2018                 2.371902e+08   4.301670e+07           1.359887e+07
2019                 1.766352e+08   1.854731e+07           1.078677e+07
2020                 2.889979e+08   1.044777e+07           2.186473e+06
2021                 2.120960e+08   2.268774e+07           3.855918e+06
2022                 5.945252e+07   3.678826e+07           3.051318e+05
2023                 3.797718e+07   2.905278e+07           2.013282e+07
2024                 3.246510e+06   3.042260e+06           0.000000e+00


Eixo de Atuação_rec
Tipo                Não estrutural
Ano
2012                  4.561142e+08
2013                  8.969584e+08
2014                  8.348921e+08
2015                  4.797836e+08
2016                  4.789320e+08
2017                  5.428956e+08
2018                  3.861438e+08
2019                  3.550602e+08
2020                  3.824124e+08
2021                  3.231762e+08
2022                  5.471993e+08
2023                  5.809235e+08
2024                  5.330224e+07

In [19]:
#d1 erosao
#d2 incendiosforest_secestiagem
#d3 movimientos de masa
#d4 ondas de frio

# Sumatorio de d1 para grupo 1
g1d1_i = process_data(inv,d1_g1)
g2d1_i = process_data(inv,d1_g2)
g3d1_i = process_data(inv,d1_g3)
g4d1_i = process_data(inv,d1_g4)

# disaster 2
g1d2_i = process_data(inv,d2_g1)
g2d2_i = process_data(inv,d2_g2)
g3d2_i = process_data(inv,d2_g3)
g4d2_i = process_data(inv,d2_g4)

# disaster 3
g1d3_i = process_data(inv,d3_g1)
g2d3_i = process_data(inv,d3_g2)
g3d3_i = process_data(inv,d3_g3)
g4d3_i = process_data(inv,d3_g4)

# disaster 4
g1d4_i = process_data(inv,d4_g1)
#g2d4_i = process_data(inv,d4_g2)
g3d4_i = process_data(inv,d4_g3)
#g4d4_i = process_data(inv,d4_g4)

# disaster 5
g1d5_i = process_data(inv,d5_g1)
g2d5_i = process_data(inv,d5_g2)
g3d5_i = process_data(inv,d5_g3)
g4d5_i = process_data(inv,d5_g4)

In [20]:
# Create a Pandas Excel writer using XlsxWriter as the engine
writer = pd.ExcelWriter('../Outputs/investimentos.xlsx', engine='xlsxwriter')

# Export each DataFrame to a separate sheet
g1d1_i.to_excel(writer, sheet_name='erosao_g1')
g2d1_i.to_excel(writer, sheet_name='erosao_g2')
g3d1_i.to_excel(writer, sheet_name='erosao_g3')
g4d1_i.to_excel(writer, sheet_name='erosao_g4')
# Repeat for df3 to df14

# disaster 2
g1d2_i.to_excel(writer, sheet_name='incfort_sec_g1')
g2d2_i.to_excel(writer, sheet_name='incfort_sec_g2')
g3d2_i.to_excel(writer, sheet_name='incfort_sec_g3')
g4d2_i.to_excel(writer, sheet_name='incfort_sec_g4')

# d3
g1d3_i.to_excel(writer, sheet_name='mm_g1')
g2d3_i.to_excel(writer, sheet_name='mm_g2')
g3d3_i.to_excel(writer, sheet_name='mm_g3')
g4d3_i.to_excel(writer, sheet_name='mm_g4')

# d4
g1d4_i.to_excel(writer, sheet_name='ondfr_g1')
#g2d4_i.to_excel(writer, sheet_name='ondfr_g2')
g3d4_i.to_excel(writer, sheet_name='ondfr_g3')
#g4d4_i.to_excel(writer, sheet_name='ondfr_g4')

# d5
g1d5_i.to_excel(writer, sheet_name='Ala_g1')
g2d5_i.to_excel(writer, sheet_name='Ala_g2')
g3d5_i.to_excel(writer, sheet_name='Ala_g3')
g4d5_i.to_excel(writer, sheet_name='Ala_g4')

# Save the Excel file
writer.close()